<div class="container">
  <div class="col-md-12">
    <button class="btn btn-success" (click)="openModal()">Сделать трансфер</button><br>
    <hr>
    <ul class="nav nav-tabs" *ngIf="requestTransfers.length > 0">
      <li style="width: 100%; text-align: center" class="active"><a data-toggle="tab" href="#request-transfers">Трансферные запросы</a></li>
    </ul>
    <div class="tab-content">
      <div id="request-transfers" class="tab-pane fade in active">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let transfer of requestTransfers">
            <img width="44px;" src="{{transfer.player.avatar}}" alt="{{transfer.player.title}}" onError="this.src='https://cdn.sofifa.org/player.png'">
            {{ transfer.player.title }} ({{transfer.player.team.title}}) {{transfer.transfer_type === 0 ? 'аренда на год в ' : 'переходит в '}}
            {{transfer.team.title}} {{transfer.loan_type === null || transfer.loan_type === 0 ? '' : 'с правом выкупа за '}}{{transfer.loan_type === null || transfer.loan_type === 0 ? '' : transfer.loan_cost + ' млн.'}}
            {{transfer.transfer_type === null || transfer.transfer_type === 0 ? '' : 'за ' + transfer.cost + ' млн.'}} {{transfer.description === null ? '' : 'и ' + transfer.description}}
            <div style="float: right;">
              <a href="javascript:void(0)" (click)="transferAction('accepted', transfer)" style="color: #3fad4b; font-weight: 700">Твердить</a>
              <a href="javascript:void(0)" (click)="transferAction('rejected', transfer)" style="color: #ff1d31; font-weight: 700">Отказать</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="col-md-12 transfers">
    <ul class="nav nav-tabs">
      <li style="width: 50%; text-align: center" class="active"><a data-toggle="tab" href="#my-transfers">Мои трансферы</a></li>
      <li style="width: 50%; text-align: center"><a data-toggle="tab" href="#all-transfers">Все трансферы</a></li>
    </ul>
    <br>
    <div class="tab-content">
      <div id="my-transfers" class="tab-pane fade in active">
        <table class="table table-striped">
          <tr>
            <th class="text-center">ID</th>
            <th>Аватар</th>
            <th class="text-center">Игрок</th>
            <th class="text-center">Позиция</th>
            <th class="text-center">Рейтинг</th>
            <th>Откуда</th>
            <th>Куда</th>
            <th class="text-center">Стоимость</th>
            <th>Тип перехода</th>
            <th>Описание</th>
          </tr>
          <tbody>
          <tr *ngFor="let transfer of userTransfers" [ngClass]="transfer.status === 'accepted' ? 'accepted' : (transfer.status === 'rejected' ? 'rejected' : 'default')">
            <td class="text-center">{{transfer.id}}</td>
            <td width="44px;"><img width="44px;" src="{{transfer.player.avatar}}" alt="{{transfer.player.title}}" onError="this.src='https://cdn.sofifa.org/player.png'"></td>
            <td><a href="https://sofifa.com/player/{{transfer.player.player_id}}?v=18&e=158991&set=true" target="_blank"><span>{{transfer.player.title}}</span></a></td>
            <td class="text-center">{{transfer.player.position}}</td>
            <td class="text-center">{{transfer.player.skill}}</td>
            <td>{{transfer.player.team.title}}</td>
            <td>{{transfer.team.title}}</td>
            <td class="text-center">{{transfer.cost}}</td>
            <td>{{transfer.transfer_type === 0 ? 'аренда' : 'трансфер'}}</td>
            <td>{{transfer.description}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div id="all-transfers" class="tab-pane fade in">
        <table class="table table-striped">
          <tr>
            <th class="text-center">ID</th>
            <th>Аватар</th>
            <th class="text-center">Игрок</th>
            <th class="text-center">Позиция</th>
            <th class="text-center">Рейтинг</th>
            <th>Откуда</th>
            <th>Куда</th>
            <th class="text-center">Стоимость</th>
            <th>Тип перехода</th>
            <th>Описание</th>
          </tr>
          <tbody>
          <tr *ngFor="let transfer of transfers">
            <td class="text-center">{{transfer.id}}</td>
            <td width="44px;"><img width="44px;" src="{{transfer.player.avatar}}" alt="{{transfer.player.title}}" onError="this.src='https://cdn.sofifa.org/player.png'"></td>
            <td><a href="https://sofifa.com/player/{{transfer.player.player_id}}?v=18&e=158991&set=true" target="_blank"><span>{{transfer.player.title}}</span></a></td>
            <td class="text-center">{{transfer.player.position}}</td>
            <td class="text-center">{{transfer.player.skill}}</td>
            <td>{{transfer.player.team.title}}</td>
            <td>{{transfer.team.title}}</td>
            <td class="text-center">{{transfer.cost}}</td>
            <td>{{transfer.transfer_type === 0 ? 'аренда' : 'трансфер'}}</td>
            <td>{{transfer.description}}</td>
            <!--<td><span>{{moment(player.date_of_birth).format('DD.MM.YYYY')}}</span></td>-->
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<div bsModal #addModal="bs-modal" id="addModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="addTransferModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">Укажите игрока и клуб</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="addModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <auctions-calculator (onSubmit)="save($event)" (onClose)="addModal.hide()"></auctions-calculator>
      </div>
    </div>
  </div>
</div>
