<div class="container">
  <auctions-assign class="pull-right" *ngIf="uService.vk['viewer_type'] === '4'"></auctions-assign>
  <button class="btn btn-success" (click)="openModal()" *ngIf="moment.utc(aucService.option.starts).local() < moment()">Создать аукцион</button><br>
  <!--<button class="btn btn-default btn-sm" style="margin-top: 10px;" (click)="getAuctions()"><i class="glyphicon glyphicon-refresh" style="margin-left: 5px;"></i></button>-->
  <label class="label pull-right bookmark">Избранные<input type="checkbox" class="checkbox-inline" (change)="getPreffered($event)"></label>
</div>

<auctions-all *ngIf="!check" [user]="uService.vk" [data]="data"></auctions-all>
<auctions-bookmark *ngIf="check" [user]="uService.vk"></auctions-bookmark>


<div bsModal #addModal="bs-modal" id="addModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="addAuctionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">Укажите игрока и клуб</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="addModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <auctions-calculator (onSubmit)="save($event)" (onClose)="addModal.hide()"></auctions-calculator>
      </div>
    </div>
  </div>
</div>
