<div *ngIf="auction">
  <button class="btn btn-default" (click)="goBack()"><i class="glyphicon glyphicon-arrow-left"></i>К аукциону</button>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">
      <img src="{{auction.player['avatar']}}" class="img-responsive avatar" style="margin-top: -96px;">
      <div class="auction-info">
        <p><i class="glyphicon glyphicon-user"></i> {{auction.player['title']}}</p>
        <p><i class="glyphicon glyphicon glyphicon-knight"></i>{{auction.player['position']}}</p>
        <p><i class="glyphicon glyphicon glyphicon-signal"></i>{{auction.player['skill']}}</p>
        <p><i class="glyphicon glyphicon glyphicon-flash"></i>{{auction.player['date_of_birth']}}</p>
      </div>
    </div>
    <div class="panel-body">
      {{auction['description']}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <p *ngIf="alert.type === 'time-is-over'" class="text-danger" [innerHTML]="alert.text"></p>
      <div class="col-md-6" *ngIf="alert.type !== 'time-is-over'">
        <form #form="ngForm" (ngSubmit)="save(form)" class="form-horizontal">
          <div class="form-group">
            <label class="col-md-2 control-label" for="player-cost">Цена</label>
            <div class="col-md-10">
              <input type="number" id="player-cost" class="form-control" name="cost" ngModel required (ngModelChange)="checkCost($event, offers)" placeholder="Введите сумму, млн.">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" for="team-title">Ваш клуб</label>
            <div class="col-md-10">
              <ng-select class="teams" id="team-title" name="team_id"
                         [items]="team.all"
                         (selected)="setItem($event)"
                         (typed)="search($event)"
                         placeholder="Искать клуб..." ngModel required></ng-select>
            </div>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!form.valid">Сделать ставку</button>
        </form>
      </div>
    </div>
  </div>


  <hr>
  <blockquote *ngFor="let offer of offers">
    <p>{{offer.team.title + ', ' + offer.cost + ' млн.' }} <span style="float: right; font-size: 12px;" [innerHTML]="moment(offer.created_at, 'YYYY-MM-DD HH:mm:ss').format('HH:mm DD.MM.YYYY')"></span></p>
    <small><a href="https://vk.com/id{{offer.user_id}}" target="_blank">{{offer.user.first_name + ' ' + offer.user.last_name}}</a> </small>
  </blockquote>

</div>
<div class="spinner-overlay" *ngIf="auction ===[]">
  <spinner [size]="50" [tickness]="1" style="position: fixed !important;" [color]="'#ffffff'" [opacity]="'0.1'"></spinner>
</div>
