body {
  padding-top: 9em;
  /*font-family: Roboto, sans-serif !important;*/
  font: 400 13px/1.4 "Open Sans Tilde","Open Sans","Helvetica Neue",Helvetica,sans-serif;
}

.glyphicon {
  margin-right: 5px;
}
auctions, auctions-show {
  overflow: scroll;
}
auctions .form-group .info {
  margin-top: 7px;
  margin-bottom: 0;
}

auctions-calculator ng-select span {
  margin-right: 5px;
}

auctions-calculator ng-select .dropdown-item a {
  text-decoration: none;
}

auctions-calculator ng-select .dropdown-item a:hover {
  text-decoration: none;
  color: #ffffff;
}

auctions .players-list p {
  font-size: 18px;
}

auctions .players-list p.description {
  font-size: 12px;
}

.avatar {
  width: 10%;
  display: inline-block;
  margin-top: -45px;
}
.auction-info {
  width: 89%;
  display: inline-block;
}

auctions-show .auction-info {
  width: 85%;
  margin-left: 15px;
}

auctions-show .glyphicon-bookmark {
  font-size: 18px;
  color: #ffffff;
  text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666;
  cursor: pointer;
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;
}

auctions-show .glyphicon-bookmark:hover {
  color: #cb171e;
  text-shadow: -1px 0 #666666, 0 1px #666666, 1px 0 #666666, 0 -1px #666666;
}

@media (max-width: 764px) {
  .avatar {
    width: 69px;
    margin-top: -60px;
  }
  .auction-info {
    width: 89% !important;
  }
}

@media (max-width: 738px) {
  .auction-info {
    width: 70% !important;
  }
}

@media (max-width: 342px) {
  .auction-info {
    width: 60% !important;
  }
}

@media (max-width: 992px) {
  auctions .form-group .info {
    width: 60%;
    display: inline-block;
  }
  auctions .col-md-2.title {
    width: 20%;
  }
  auctions .players-list p {
    font-size: 16px;
  }
  auctions-show .glyphicon-bookmark {
    margin-right: 0;
    font-size: 14px;
  }
}

@media (max-width: 458px) {
  auctions .col-md-2.title {
    width: 30%;
  }
  auctions .players-list p {
    font-size: 14px;
  }
}

auctions .players-list .offers-count {
  float: right;
}

.spinner-overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 20000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */

}
spinner {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  z-index: 30000;
  border-width: 3px !important;
}

pagination-controls .ngx-pagination {
  display: inline-block;
  padding-left: 0;
  margin: 23px 0;
  border-radius: 3px;
}

pagination-controls .ngx-pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 3;
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  cursor: default;
}


pagination-controls .ngx-pagination .current {
  padding: 9.5px 17px;
  border: 1px solid #dddddd;
}
pagination-controls .ngx-pagination > li {
  margin-right: 0 !important;
}
pagination-controls .ngx-pagination > li > a, .pagination > li > span {
  position: relative;
  padding: 6px 16px;
  line-height: 1.846;
  text-decoration: none;
  color: #2196f3;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}


.calculator .col-lg-2 {
   display: inline-block;
 }
.calculator .options {
  margin-left: -25px;
  width: 20% !important;
}
.calculator .control-label {
  width: 33.33333333%;
  text-align: right;
}

.calculator .value {
  width: 40%;
}
.calculator .submit {
  margin-left: 34%;
  width: 40%;
}
@media screen and (max-width: 541px) {
  .calculator .options {
    width: 30% !important;
  }
}

.calculator .cost {
  margin-top: 7px;
  font-size: 16px;
}

datetime .form-group {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

datetime .form-group span, .form-group i {
  margin-left: -10px;
}

datetime .form-inline.ng2-datetime {
  display: inline-block;
}

auctions label.bookmark {
  color: #666666;
  margin-right: -12px;
}

auctions label.bookmark .checkbox-inline {
  margin-bottom: 0;
  margin-left: 5px;
}
