body {
  padding-top: 9em;
  font-family: Roboto, sans-serif !important;
}

.glyphicon {
  margin-right: 5px;
}
auctions, auctions-show {
  overflow: scroll;
}
auctions .form-group .info {
  margin-top: 7px;
  margin-bottom: 0;
}

auctions ng-select span {
  margin-right: 5px;
}

auctions .players-list p {
  font-size: 18px;
}

auctions .players-list p.description {
  font-size: 12px;
}
@media (max-width: 992px) {
  auctions .form-group .info {
    width: 60%;
    display: inline-block;
  }
  auctions .col-md-2.title {
    width: 20%;
  }
  auctions .players-list p {
    font-size: 16px;
  }
}

@media (max-width: 458px) {
  auctions .col-md-2.title {
    width: 30%;
  }
  auctions .players-list p {
    font-size: 14px;
  }
}

auctions .players-list .offers-count {
  float: right;
}

.spinner-overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 20000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */

}
spinner {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  z-index: 30000;
  border-width: 3px !important;
}
